#landing-page,
#projects-home,
#contact-home,
#acorn-home,
#ipt-home,
#synbio-home,
#igem-home {
	background-color: white;
}

#home-photo-container {
	height: 100vh;
	background-image: url("../assets/img/erin01.jpg");
	background-size: cover;
	background-position: top center;
}

#home-photo {
	height: 100%;
	width: 100vh;
}

h1,
h2,
h3 {
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Amatic SC', cursive;
}

h1 {
	font-size: 50px;
	margin-top: 150px;
}

#contact-social-icons i {
    color: black;
    font-size: 28px;
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 8px;
    margin-left: 4px;
    text-align: right;
}

#about-me {
	word-spacing: 3px;
	letter-spacing: 1px;
}

#about-me, 
#about,
#igem-about,
#acorn-about,
#ipt-about,
.skills-list,
#dextranase-about,
#contact-form {
	font-size: 16px;
	font-family: 'Barlow', sans-serif;
	letter-spacing: 1px;
}

#about-me, 
#igem-about,
#acorn-about,
#ipt-about {
	margin-top: 20px;
	margin-right: 25px;
}

img {
	margin-right: 20px;
}

li {
	margin-left: 50px;
	margin-top: 10px;
}

h2 {
	font-size: 30px;
	margin-left: 10px;
	margin-bottom: 5px;
}

#about {
	margin-left: 10px;
}

h3, 
 {
	font-size: 50px;
}

a:hover {
	color: #79c6c8;
}